body {
  background-color: #2b2b2b;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  color: white;
  padding: 50px;
  margin: 0;
  font-size: 50px;
}
/* Navigation */
#nav ul {
  list-style-type: none;
  background-color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
  transition: 0.6;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
#nav li {
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  font-size: 20px;
}
#nav a {
  text-decoration: none;
  display: block;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
#nav li:hover {
  background-color: #111;
  transition: 0.6s;
}
/* Search Bar */
#searchBar {
  margin: 50px;
  text-align: center;
}
#searchBar input {
  border: none;
  width: 200px;
  border-radius: 25px;
  padding: 18px;
  padding-right: 300px;
  margin-top: 40px;
  margin-right: -55px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
}
#searchBar button {
  float: center;
  padding: 16px 16px;
  background: white;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 25px;
}
#searchBar button:hover {
  background: #ccc;
}
/* Boormark */
#bookmarkBorder {
  margin: 50px;
  margin-bottom: 0px;
  text-align: center;
}
#bookmarkBorder2 {
  margin: 0;
  text-align: center;
}
.bookmark {
  border: none;
  display: inline-block;
  margin: 50px;
  padding: 50px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: white;
  border-radius: 40px 20px 40px 20px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 1);
}
.bookmark span {
  width: 100px;
  height: auto;
}
.bookmark:hover {
  background-color: #cfcfcf;
  width: 100px;
  border-radius: 20px 40px 20px 40px;
  transition: 0.5s;
  cursor: pointer;
}
.bookmark:not(hover) {
  width: 60px;
  background-color: white;
  border-radius: 40px 20px 40px 20px;
  transition: 0.5s;
}
#naver svg {
  fill: rgb(0, 0, 0);
  border-radius: 7px;
}
#papago img {
  fill: black;
  width: 50px;
  height: 50px;
}
#netflix img {
  fill: black;
  width: 50px;
  height: 50px;
}
#deakin img {
  fill: black;
  width: 50px;
  height: 50px;
}
